@model IEnumerable<CarModel>

@{
    ViewData["Title"] = $"{Model.FirstOrDefault()?.Make} cars";
}

<br />
<h2>All Cars Orderd By Model</h2>
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var car in @Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@car.Model</td>
                    <td>@car.Make</td>
                    <td>@car.TravelledDistance</td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>