@model CreateCourseFormModel

@{
    ViewData["Title"] = "Create Course";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="alert-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="7" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TrainerId"></label>
                    <select asp-for="TrainerId" class="form-control" asp-items="Model.Trainers"></select>
                    <span asp-validation-for="Trainers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}